/* Common Classes */
:root {
  --light: #fff;
  --dark: #343a40;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

/*** Grids ***/
.two-sec-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "navbar"
    "intro";
  overflow: hidden;
}

.items-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "item item item";
}

/*** Containers ***/
.text-container-center {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.text-content-center {
  text-align: center;
}

/*** Text sizes ***/
.heading {
  font-family: "Zilla Slab Highlight";
  font-size: 4em;
}

.sub-heading {
  font-family: "Bowlby One SC";
  font-size: 2em;
}

.medium-text {
  font-family: "Open Sans Condensed";
  font-size: 3em;
}

.small-text {
  font-family: "Open Sans Condensed";
  font-size: 1.5em;
}

/*** colors ***/
.white {
  color: var(--light);
}

.yellow {
  color: #fdfcfb;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

/*** Backgrounds ***/
.bg-black {
  background: var(--dark);
}

.bg-main {
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
}

/*** Buttons ***/
.button {
  border: 1px solid transparent;
  cursor: pointer;
}

/*** Animations ***/
.fade {
  animation: fade 1s linear 1 alternate;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-yellow {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

@media (min-width: 481px) and (max-width: 767px) {
  .heading {
    font-size: 3em;
  }

  .small-text {
    font-size: 1.3em;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 3em;
  }

  .small-text {
    font-size: 1.3em;
  }
}
