/* Common Classes */
:root {
  --light: #cfd9df;
  --dark: #343a40;
  --color: black;
  --dark-gradient: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  --light-gradient: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  --shadow: 0 0 10px #434343, 0 0 40px #434343, 0 0 70px #434343;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.column {
  flex-direction: column;
}

/*** Grids ***/
.two-sec-grid,
.two-sec-grid-b {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "navbar"
    "intro";
  overflow: hidden;
}

.two-sec-grid {
  grid-template-rows: 1fr 7fr;
}

.two-sec-grid-b {
  grid-template-rows: 1fr auto;
}

.two-col-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "video details";
  overflow: hidden;
}

.items-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "item item item";
}

/*** Containers ***/
.text-container-center {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.text-content-center {
  text-align: center;
  background-image: var(--light-gradient);
}

/*** Text sizes ***/
.heading {
  font-family: "Zilla Slab Highlight";
  font-size: 4em;
}

.sub-heading {
  font-family: "Bowlby One SC";
  font-size: 2em;
}

.medium-text {
  font-family: "Open Sans Condensed";
  font-size: 3em;
}

.small-text {
  font-family: "Open Sans Condensed";
  font-size: 1.5em;
}

.xx-small-text {
  font-size: 0.5em;
}

/*** colors ***/
.white {
  color: var(--light);
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

/*** Backgrounds ***/
.bg-dark {
  background-image: var(--dark-gradient);
  background-blend-mode: multiply, multiply;
  --shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.4),
    0 0 70px rgba(255, 255, 255, 0.4);
  --color: white !important;
}

.bg-main {
  background-image: var(--light-gradient);
}

.bg-none {
  background: transparent !important;
}

/*** Buttons ***/
.button {
  border: 1px solid transparent;
  cursor: pointer;
}

/* */
.current {
  color: rgba(0, 0, 0, 0.5) !important;
}

.current-dark {
  color: rgba(255, 255, 255, 0.7) !important;
}

.shorten {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto;
}

/*** Animations ***/
.fade {
  animation: fade 1s linear 1 alternate;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-yellow {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

@media (min-width: 481px) and (max-width: 767px) {
  .heading {
    font-size: 3em;
  }

  .small-text {
    font-size: 1.3em;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 3em;
  }

  .small-text {
    font-size: 1.3em;
  }
}
