body {
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none !important;
}

/* Header */
header {
  height: auto;
  min-height: 50vh;
  overflow: hidden;
}

/*** Navbar ***/
.navbar {
  grid-area: navbar;
}
.navbar-brand {
  font-family: "Monoton", cursive;
  font-size: calc(100% + 10px);
  color: var(--color) !important;
}

.turned {
  background-image: var(--light-gradient) !important;
}

.nav-item {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: calc(80% + 10px);
}

.nav-link {
  color: var(--color) !important;
}

/*** Intro Section ***/
.intro-container {
  width: 100%;
  height: 100%;
  background: url("./logo.jpg");
  background-size: cover;
  background-attachment: fixed;
  grid-area: intro;
  z-index: 0;
}

.main-search-container {
  background: transparent;
  display: grid;
  grid-template-columns: 15fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "search btn";
}

#main-search {
  background: transparent;
  border: none;
  outline: none;
  grid-area: search;
  font-size: 1.5em;
}

.search-icon {
  color: var(--dark);
  font-size: 2em;
  grid-area: btn;
  cursor: pointer;
}

.scroll-down {
  position: absolute;
  z-index: 99;
  bottom: 0;
  text-align: center;
  width: 100%;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  cursor: pointer;
}

/* List Preview */
.list-preview {
  height: auto;
  min-height: 100vh;
  background: #282c34;
}

.slider {
  position: relative;
}

.slide {
  display: none;
  animation-duration: 0.4s;
}

.slide-btns-wrapper {
  position: relative;
  width: 100%;
  background: transparent;
}

.slide-btns {
  position: relative;
  bottom: 0;
  text-decoration: none;
  background: transparent;
  border: none;
  z-index: 99;
}

.prev,
.next {
  font-size: 2em;
  transition: 0.2s;
}

.prev:hover {
  padding-right: 10px;
}

.next:hover {
  padding-left: 10px;
}

/*** Flex card ***/
.flex-card {
  width: 400px;
  height: 300px;
  margin: 0.5rem;
  flex: 1 30%;
  transition: 0.6s;
}

.flex-card:hover {
  box-shadow: var(--shadow);
}

.top-layer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.5);
  color: var(--light);
  align-items: flex-start !important;
}

.bottom-layer {
  position: absolute;
}

.bottom-layer-img {
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
}

/* Toggler for dark and light mode */
.theme-toggle-wrapper {
  display: flex;
  position: fixed;
  top: 50%;
  left: 0;
  flex-direction: column;
  z-index: 99;
  background-image: var(--light-gradient);
  cursor: pointer;
}

.turned-bg {
  background: var(--light) !important;
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    min-height: 80vh;
  }
  .search-box {
    flex-direction: column;
    width: 90%;
    overflow: scroll;
  }
  .search-input {
    margin-top: 1rem;
    margin-right: 0 !important;
    width: 100%;
    height: auto;
  }
  .search-btn {
    margin-top: 1rem !important;
  }
  .flex-card {
    flex: 1 40%;
  }
}

@media (max-width: 480px) {
  header {
    min-height: 55vh;
  }
  #main-search {
    font-size: 1em;
  }
  .search-box {
    flex-direction: column;
    width: 90%;
  }
  .search-input {
    margin-top: 1rem;
    margin-right: 0 !important;
    width: 100%;
  }
  .search-btn {
    text-align: center;
    margin-top: 1rem !important;
  }
  .flex-card {
    flex: 1 50%;
    width: 300px;
    height: 250px;
  }
}

.search-box-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  background: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  height: 5vh;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--dark) !important;
  background: white;
  border-radius: 20px;
}
